<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @sub_center.content %>
</p>

<%= link_to 'Edit', edit_sub_center_path(@sub_center) %> |
<%= link_to 'Back', sub_centers_path %>
