<div class="container-fluid">
  <div class="col-md-2">
    <a href="https://india.gov.in/" target="_blank">
      <%= image_tag("india_portal.png", size: "150x50") %>
    </a>
  </div>
   <div class="col-md-8" style="background-color: #8cb3d9;">
     <p>
       <b>
         website is Developed by STPI Guwahati |  Best viewed on 1366 X 768 Resolution 	|Terms & Conditions | 	|Privacy Policy| 	|citizen charter | 	Updated on: 28/02/2016
       </b>
      </p>
   </div>
   <div class="col-md-2">


   </div>
</div>
